@using MVC_SYSTEM.Class
@using MVC_SYSTEM.Models
@*//farahin tambah*@
@using MVC_SYSTEM.MasterModels
@model IEnumerable<MVC_SYSTEM.Models.tbl_Kerja>
@{
    ViewBag.Title = "WorkReport";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    System.Globalization.DateTimeFormatInfo mfi = new System.Globalization.DateTimeFormatInfo();
    GetIdentity GetIdentity = new GetIdentity();
    GetEstateDetail GetWorkerDetail = new GetEstateDetail();
    GetConfig GetConfig = new GetConfig();
    int bill = 0;
    string nama = "";

    //by farahin  - 23/02/2021
    KadarOT kadar = new KadarOT();
    GetTriager Triager = new GetTriager();
    tbl_CostCentre Costcenter = new tbl_CostCentre();
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();

    int year = ChangeTimeZone.gettimezone().Year;
    int month = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;
    int hour = ChangeTimeZone.gettimezone().Hour;
    int minute = ChangeTimeZone.gettimezone().Minute;
    int second = ChangeTimeZone.gettimezone().Second;
    string uniquefilename = "KerjaHarian_" + year.ToString() + month.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
    var namasyarikat = GetConfig.GetSyarikatNo(ViewBag.costcenter);
    var namapenuhsyarikat = GetConfig.GetSyarikatFullName(ViewBag.costcenter);
}

@*@if (ViewBag.getflag == 1)
    {
        <p style="color:red">@GlobalResEstate.msgChooseWork</p>
    }
    else
    {*@
@if (Model != null && Model.Count() != 0)
{

    //farahin tukar format report  - 23/02/2021
    <div id="scrollArea2" class="modal-body">
        <logo />

        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0" width="100%" id="test">
            <thead>
                <tr>
                    <th colspan="14" style="text-align:center;vertical-align:middle;">
                        @namapenuhsyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @namasyarikat)
                        <br />
                        @GlobalResEstate.lblWorkReport
                        <br />
                        @mfi.GetMonthName(Convert.ToInt32(ViewBag.MonthSelection)) - @ViewBag.YearSelection
                    </th>
                </tr>
            </thead>
        </table>

        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
            <thead>

                <tr>
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblDate</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoPkj</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrName</th>
                    @* farahin tambah column Cost Center  - 23/02/2021*@
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblGL</th>

                    @*<th rowspan="1" colspan="2"  bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblCcAktivitiInfo</th>*@

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrActvtCode</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrDesc</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrOutcome</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrRate</th>
                    @* farahin tamabh column Jam Lebih Kerja   - 23/02/2021*@
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblOvertimeHour</th>
                    @* farahin tamabh column Kadar Jam Lebihan Kerja - 23/02/2021*@
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblTotalOt</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblTotal</th>
                    @* farahin tamabh column Jumlah Keseluruhan - 23/02/2021*@
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblTotalOverall</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblUserID</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    //string Amt = @GetTriager.GetTotalForMoney(item.fldKredit);
                    bill = bill + 1;
                    Decimal OTRate = 46.16M;

                    //nama = GetWorkerDetail.Name(pkj.fld_Nopkj, pkj.fld_WilayahID.Value, pkj.fld_SyarikatID.Value, pkj.fld_NegaraID.Value, pkj.fld_LadangID.Value);
                    <tr>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@bill</td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.fld_Tarikh.Value.ToString("dd/MM/yyyy")
                        </td>

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@item.fld_Nopkj</td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetWorkerDetail.Name(item.fld_Nopkj, item.fld_WilayahID.Value, item.fld_SyarikatID.Value, item.fld_NegaraID.Value, item.fld_LadangID.Value)
                        </td>

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetConfig.GetGLDesc(item.fld_KodGL, item.fld_NegaraID.Value, item.fld_SyarikatID.Value)

                        </td>

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.fld_KodAktvt
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetConfig.GetAktvt(item.fld_KodAktvt, item.fld_NegaraID.Value, item.fld_SyarikatID.Value)
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.fld_JumlahHasil
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.fld_KadarByr
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @Convert.ToInt32(@item.fld_JamOT)
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @Triager.GetTotalForMoney(@kadar.mul(Convert.ToDecimal(@item.fld_JamOT), OTRate))
                        </td>

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.fld_Amount
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @item.fld_OverallAmount
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetIdentity.MyNameFullName(item.fld_CreatedBy)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <newpage />
    </div>
    //farahin comment format asal - 23/02/2021
    @*<div id="scrollArea2" class="modal-body">
            <logo />
            <table class="table table-hover table-bordered" style="font-size: 11px;" border="0" width="100%" id="test">
                @foreach (var pkj in Model.Select(s => new { s.fld_Nopkj, s.fld_WilayahID, s.fld_NegaraID, s.fld_SyarikatID, s.fld_LadangID }).Distinct())
                {
                    bill = 0;
                    nama = GetWorkerDetail.Name(pkj.fld_Nopkj, pkj.fld_WilayahID.Value, pkj.fld_SyarikatID.Value, pkj.fld_NegaraID.Value, pkj.fld_LadangID.Value);
                    <thead>
                        <tr>
                            <th colspan="10" style="text-align:center;vertical-align:middle;">
                                @ViewBag.NamaSyarikat
                                <br />
                                (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                                <br />
                                @GlobalResEstate.lblWorkReport
                                <br />
                                @mfi.GetMonthName(Convert.ToInt32(ViewBag.MonthSelection)) - @ViewBag.YearSelection
                            </th>
                        </tr>
                        <tr>
                            <th colspan="10" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                                @pkj.fld_Nopkj - @nama
                            </th>
                        </tr>
                        <tr>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblDate</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrActvtCode</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrDesc</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrOutcome</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrRate</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblTotal</th>
                            <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblUserID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.fld_Nopkj == pkj.fld_Nopkj))
                        {
                            //string Amt = @GetTriager.GetTotalForMoney(item.fldKredit);
                            bill = bill + 1;
                            <tr>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @bill
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @item.fld_Tarikh.Value.ToString("dd/MM/yyyy")
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @item.fld_KodAktvt
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @GetConfig.GetAktvt(item.fld_KodAktvt, item.fld_NegaraID.Value, item.fld_SyarikatID.Value)
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @item.fld_JumlahHasil
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @item.fld_KadarByr
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @item.fld_Amount
                                </td>
                                <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                    @GetIdentity.MyNameFullName(item.fld_CreatedBy)
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            <newpage />
        </div>*@
    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
            </a>
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
            </a>
            @* farahin ubah function onclick - 23/02/2021 *@
            <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
            </a>
        </div>
    }
}


@if (Model == null || Model.Count() == 0)
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>
}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }
</style>

@* farahin tambah untuk download excel - 23/02/2021*@
<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        });

        $("#downloadpdf").click(function () {

              //farahin - cater utk button pdf - 23/02/2021
            var myHtml = document.getElementById('scrollArea2').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "WorkReport" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
                error: function (error) {
                    $.simplyToast('Sorry to many data', 'danger');
                }
            });
            return false;
        });

            @*var RadioGroup = $('input[name=RadioGroup]:checked').val();
            var MonthList = $("#MonthList").val();
            var YearList = $("#YearList").val();
            var WorkerList = $("#WorkerList").val();
            //var StatusList = $("#StatusList").val();
            //var WorkCategoryList = $("#WorkCategoryList").val();

            var StatusList = '';
            var WorkCategoryList = '';

            var param = '/?MonthList=' + MonthList + '&YearList=' + YearList + '&WorkerList=' + WorkerList;
            var controller = 'Report';
            var action = 'PrintWorkPdf';

            var ajxfn = {};
            ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result) {
                //var win = window.open(result.link, '_blank');
                //win.focus();
                PDFObject.embed(result.link, "#searchResultWorkRptInfo", { height: "450px" });
            };

            ajxfn.error = function () {
                $.simplyToast('@GlobalResEstate.msgError', 'danger');
                $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
        });

        $("#ExcelReport").click(function () {
            //function fnExcelReport()
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById('test'); // id of table

            for (j = 0; j < tab.rows.length; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        });*@
    });
</script>