@model IEnumerable<MVC_SYSTEM.Models.tbl_Pkjmast>
@using Itenso.TimePeriod;

@{
    ViewBag.Title = "ExpiredNotiReport";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int bill = 0;
    DateTime today = DateTime.Now;
    GetConfig GetConfig = new GetConfig();
    //farahin tambah declaration - 23/02/2021
    DateTime tarikhMula, tarikhTamat;
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    DateTime Todaydate = ChangeTimeZone.gettimezone();
    string uniquefilename = "ExpiredPassportReport_" + Todaydate.Year.ToString() + Todaydate.Month.ToString() + Todaydate.Day.ToString() + Todaydate.Hour.ToString() + Todaydate.Minute.ToString() + Todaydate.Second.ToString();
    var namasyarikat = GetConfig.GetSyarikatNo(ViewBag.costcenter);
    var namapenuhsyarikat = GetConfig.GetSyarikatFullName(ViewBag.costcenter);
}


@if (ViewBag.DataCount < 1)
{
    <p style="color:black">@GlobalResEstate.msgErrorSearch</p>
}
else
{
    //farahin tukar div id ke scrollarea3 - 23/02/2021
    <div id="scrollArea3" class="modal-body">
        <logo />

        @*Farahin - tukar layout report  - 23/02/2021*@
        <table id="reportTable" class="table table-bordered" style="font-size: 11px !important;" border="0">
            <thead>
                <tr>
                    <th colspan="6" style="text-align:center;vertical-align:middle; border:none !important;">
                        @namapenuhsyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @namasyarikat)
                        <br />
                        @GlobalResEstate.lblPassportReport
                        <br />
                        <label style="font-size:small">

                        </label>
                    </th>
                </tr>
            </thead>
        </table>


        <table class="table table-bordered" style="font-size: 11px;" border="0" width="100%">
            <thead>
                <tr>
                    @* tbl header *@
                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNo</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoPkj</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrName</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrNoKp </th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblPassportStart</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.lblPassportEnd</th>

                    <th bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">@GlobalResEstate.hdrExpiredMonth</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                bill = bill + 1;

                if (item.fld_T2pspt.HasValue)
                {
                    tarikhTamat = item.fld_T2pspt.Value;
                }

                else
                {
                    tarikhTamat = Convert.ToDateTime("1990/01/01");
                }

                if (item.fld_T1pspt.HasValue)
                {
                    tarikhMula = item.fld_T1pspt.Value;
                }

                else
                {
                    tarikhMula = Convert.ToDateTime("1990/01/01");
                }

                DateDiff totalmonthleft = new DateDiff(today.AddDays(1), tarikhTamat);
                <tbody>
                    <tr>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @* Column Bil *@
                            @bill
                        </td>

                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @* Column Id Pekerja *@
                            @item.fld_Nopkj
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @* Column Nama *@
                            @item.fld_Nama
                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @*  Column No Kp*@
                            @item.fld_Nokp

                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @* Column Tarikh Mula *@

                            @if (tarikhMula != Convert.ToDateTime("1990/01/01"))
                            {
                                @item.fld_T1pspt.Value.ToString("dd/MM/yyyy")
                            }
                            else
                            {

                            }

                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @* Column Tarikh Tamat *@
                            @if (tarikhTamat != Convert.ToDateTime("1990/01/01"))
                            {
                                @item.fld_T2pspt.Value.ToString("dd/MM/yyyy")
                            }
                            else
                            {

                            }


                        </td>
                        <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                            @* Column Tamat Tempoh *@
                            @if (totalmonthleft.Months > 0)
                            {
                                <label style="font-size:small; font-weight:normal; color:green;"> @totalmonthleft.Months @GlobalResEstate.lblMonth</label>
                                <br />
                            }
                            else
                            {
                                <label style="font-size:small; font-weight:normal; color:red"> @totalmonthleft.Months @GlobalResEstate.lblMonth</label>
                                <br />
                            }
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        @* end of requirement 1 *@


        <newpage />
    </div>
  
    if (ViewBag.Print == null)
    {
        <div style="text-align:right; margin-top:10px">
            <a class="btn btn-default btn-sm" href="#" id="printpage">
                <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
            </a>
            @* tukar id -farahin  - 23/02/2021 *@
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf2">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
            </a>
            @* farahin tukar onclick function  - 23/02/2021 *@
            <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel2('@uniquefilename')">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
            </a>
        </div>
    }
}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }
</style>

@* farahin ubah javascript   - 23/02/2021*@
<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
            //farahin ubah getelementbyid  - 23/02/2021
            var DivElement = document.getElementById("scrollArea3").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })
         //by farahin  - 23/02/2021
        //requirement - button pdf tak jalan
        $("#downloadpdf2").click(function () {

          var myHtml = document.getElementById('scrollArea3').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF3", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "ExpiredPassportReport" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
                error: function (error) {
                    $.simplyToast(error, 'danger');
                }
            });
            return false;
        });


    });

    //tambah function download excel - farahin  - 23/02/2021
    function HTMLtoExcel2(filename2) {
        var blob = new Blob([document.getElementById('scrollArea3').innerHTML], {
            type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
        });
        saveAs(blob, filename2 + ".xls");
    };
</script>

@*farahin comment original code  - 23/02/2021*@
@*<script>
        $(document).ready(function () {
            $("#printpage").click(function () {
                var DivElement = document.getElementById("scrollArea").innerHTML;
                var oldPage = document.body.innerHTML;
                document.body.innerHTML = DivElement;
                window.print();
                document.body.innerHTML = oldPage;
            })

            $("#downloadpdf").click(function () {
                //var RadioGroup = $('input[name=RadioGroup]:checked').val();
                var MonthList = $("#MonthList").val();
                //var YearList = $("#YearList").val();
                //var SelectionList = $("#SelectionList").val();
                //var StatusList = $("#StatusList").val();
                //var WorkCategoryList = $("#WorkCategoryList").val();

                //var StatusList = '';
                //var WorkCategoryList = '';

                var param = '/?MonthList=' + MonthList;
                var controller = 'Report';
                var action = 'PrintNotiPassportPdf';

                var ajxfn = {};
                ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
                ajxfn.type = "POST";
                ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
                ajxfn.datatype = "json";
                ajxfn.contentType = "application/json";
                ajxfn.success = function (result) {
                    //var win = window.open(result.link, '_blank');
                    //win.focus();
                    PDFObject.embed(result.link, "#tab2primary", { height: "450px" });
                };

                ajxfn.error = function () {
                    $.simplyToast('@GlobalResEstate.msgError', 'danger');
                    $("#UpdateProgress1").css("display", "none");
                };
                $.ajax(ajxfn);

                return false;
            });
        });
    </script>*@