@*@model IEnumerable<MVC_SYSTEM.Models.tbl_Pkjmast>*@
@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "RumusanReport";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    //GetConfig GetConfig = new GetConfig();
    //int bill = 0;
    //string kerakyatan = "";
    //string statusAktif = "";

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchResultWorkerInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}
<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>


<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_RumusanReport", "Report", null, options, new { @id = "RumusanReport" }))
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-2">
                @Html.RadioButton("RadioGroup", 0, new { @checked = "checked" })
                @Html.Label(GlobalResEstate.lblIndividuSelection)<br />
                @Html.RadioButton("RadioGroup", 1)
                @Html.Label(GlobalResEstate.lblGroupSelection)
            </div>
            <div class="col-sm-2" id="divlist">
                @Html.Label(GlobalResEstate.lblStatus)
                @Html.DropDownList("StatusList", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <label id="SelectionLabel">@GlobalResEstate.lblWorker</label>
                @Html.DropDownList("SelectionList", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-2" style="padding-top:25px;">
                <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="Lihat" value="@GlobalResEstate.btnView" @*onclick="return DisplayProgressMessage(this);"*@ />
            </div>
        </div>
        }
    </div>
    <div class="well" style="margin-top:7px;">
        <div class="panel panel-primary">
            <div class="panel-heading">@GlobalResEstate.lblWorkerReport</div>
            <div class="panel-body">
                <div id="searchResultWorkerInfo">
                    @Html.Action("_RumusanReport")
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal placeholder-->
<div id='myModal1' class='modal'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<script>
    $(document).ready(function () {

        $('#viewreport').click(function (e) {
            var Populink = "@Url.Action("RumusanReport", "Report", null, this.Request.Url.Scheme)";
            window.open(Populink, null, "height=780,width=1000,status=yes,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=no");
            e.stopPropagation();
            e.preventDefault();
        });

        $('input[name="RadioGroup"]').on("click", function (e) {
            console.log($('input[name=RadioGroup]:checked').val());
            var Radiogrp = $('input[name=RadioGroup]:checked').val();
            var radiogroup = {};
            var disableoption = "";
            $('#divLoading').show();
            radiogroup.url = "@Url.Action("GetList", "Report")";
            radiogroup.type = "POST";
            radiogroup.data = JSON.stringify({ RadioGroup: Radiogrp, StatusList: $("#StatusList").val() });
            radiogroup.datatype = "json";
            radiogroup.contentType = "application/json";
            radiogroup.success = function (result) {
                document.getElementById("SelectionLabel").innerText = result.SelectionLabel;
                $("#SelectionList").empty();
                for (var i = 0; i < result.SelectionList.length; i++) {
                    $("#SelectionList").append("<option value=" + result.SelectionList[i].Value + " " + disableoption + ">" + result.SelectionList[i].Text + "</option>");
                }

                $('#divLoading').hide();
            };
            radiogroup.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
            $.ajax(radiogroup);
        });
    });
</script>