@model MVC_SYSTEM.Models.tbl_MklmtKeluargaPkj

@{
    ViewBag.Title = "DependentsInfoUpdate";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">@GlobalResEstate.titleUpdate</h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="panel panel-primary">
                <div class="panel-heading">Kemaskini Maklumat</div>
                <div class="panel-body">
                    <span id="progress" class="text-center" style="display: none;">
                        <img src="~/Asset/Images/wait.gif" alt="wait" />
                    </span>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">No Pekerja</label>
                            <div class="col-md-8">
                                <input id="fld_Nopkj" name="fld_Nopkj" type="text" class="form-control" value=@ViewBag.fld_Nopkj disabled />
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-md-2">Nama Pekerja</label>
                            <div class="col-md-9">
                                <input id="NamaPkj" name="NamaPkj" type="text" class="form-control" value=@ViewBag.NamaPkj />
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">Nama Waris</label>
                            <div class="col-md-8">
                                @Html.TextBox("NamaWaris", (string)ViewBag.NamaWaris, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label class="control-label col-md-5">Hubungan Waris</label>
                            <div class="col-md-5">
                                @Html.DropDownList("HubunganWaris", null, htmlAttributes: new { @class = "form-control" })
                                @*@Html.TextBox("HubunganWaris", (string)ViewBag.HubunganWaris, new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">No Tel Waris</label>
                            <div class="col-md-8">
                                @Html.TextBox("NoTelWaris", (string)ViewBag.TelWaris, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">Nama Isteri 1 (Jika ada)</label>
                            <div class="col-md-8">
                                @Html.TextBox("NamaIsteri1", (string)ViewBag.NamaIsteri1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label class="control-label col-md-5">Bilangan Anak (Isteri 1)</label>
                            <div class="col-md-5">
                                @Html.TextBox("BilAnk1", (int)ViewBag.BilAnk1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">No Tel Isteri 1</label>
                            <div class="col-md-8">
                                @Html.TextBox("NoTelIsteri1", (string)ViewBag.TelIsteri1, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div id="mklmtAnk1">
                        <input type="text" onkeyup="titleCase(this.val);"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">Nama Isteri 2 (Jika ada)</label>
                            <div class="col-md-8">
                                @Html.TextBox("NamaIsteri2", (string)ViewBag.NamaIsteri2, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label class="control-label col-md-5">Bilangan Anak (Isteri 2)</label>
                            <div class="col-md-5">
                                @Html.TextBox("BilAnk2", (int)ViewBag.BilAnk2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label col-md-4">No Tel Isteri 2</label>
                            <div class="col-md-8">
                                @Html.TextBox("NoTelIsteri2", (string)ViewBag.TelIsteri2, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div id="mklmtAnk2">

                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value=@GlobalResEstate.btnSave />
        <button class="btn btn-warning" data-dismiss="modal">@GlobalResEstate.btnBack</button>
    </div>
}
<script>
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
</script>
<script>
                if ($("#BilAnk1").val() >= 1) {
                    var bilAnk = $("#BilAnk1").val();
                    console.log(bilAnk);
                    document.getElementById('mklmtAnk1').innerHTML = "";
                    if (bilAnk => 0) {
                        for (var i = 0; i < bilAnk; i++) {
                            var addGroup = document.createElement('div');
                            var addName = document.createElement('div');
                            var addAge = document.createElement('div');
                            addGroup.className = 'form-group';
                            addName.className = 'col-sm-6';
                            addAge.className = 'col-sm-5';
                            addName.innerHTML = '<label class="control-label col-md-4">Nama Anak</label><div class="col-md-8"><input id="txtAnak1Name' + i + '" name="txtAnak1Name' + i + '" type= "text" class="form-control" onkeyup="textChange(this);"  /></div>';
                            addAge.innerHTML = '<label class="control-label col-md-5">Umur Anak (Tahun)</label><div class="col-md-5"><input id="txtAnak1Age' + i + '" name="txtAnak1Age' + i + '" type= "text" class="form-control"  /></div>';
                            addGroup.appendChild(addName);
                            addGroup.appendChild(addAge);
                            document.getElementById('mklmtAnk1').appendChild(addGroup);

                            var txt = "txtAnak1Name" + i;
                            console.log(txt);
                            var age = "txtAnak1Age" + i;
                            var isteri="Isteri1"
                            runAjax(i, txt, age, isteri);
                        };
                    };
                };

                function runAjax(i, txt, age, isteri) {
                    var GetName = {};
                    var nopkj = $("#fld_Nopkj").val();
                            //console.log(i + "before");
                            GetName.url = "@Url.Action("GetAnk", "WorkerInfo")";
                            GetName.type = "POST";
                            GetName.data = JSON.stringify({ nopkj: nopkj, isteri: isteri, anak: i });
                            GetName.datatype = "json";
                            GetName.contentType = "application/json";
                            GetName.success = function (result) {
                                //console.log(i + "after");
                                //console.log(result.nama);
                                $("#" + txt).val(result.nama);
                                //console.log(txt + $("#" + txt).val());
                                $("#" + age).val(result.umur);
                            };
                            GetName.error = function () { $.simplyToast('@GlobalResEstate.msgError', 'danger'); };
                            $.ajax(GetName);
                };

                if ($("#BilAnk2").val() >= 1) {
                    var bilAnk = 0;
                    bilAnk = $("#BilAnk2").val();
                    console.log(bilAnk);
                    document.getElementById('mklmtAnk2').innerHTML = "";
                    if (bilAnk => 0) {
                        for (var i = 0; i < bilAnk; i++) {
                            var addGroup = document.createElement('div');
                            var addName = document.createElement('div');
                            var addAge = document.createElement('div');
                            addGroup.className = 'form-group';
                            addName.className = 'col-sm-6';
                            addAge.className = 'col-sm-5';
                            var viewdata = '@(ViewData["NamaAnak02"])';
                            var viewdata1 = '@(ViewData["UmurAnak0"])';
                            addName.innerHTML = '<label class="control-label col-md-4">Nama Anak</label><div class="col-md-8"><input id="txtAnak2Name' + i + '" name="txtAnak2Name' + i + '" type= "text" class="form-control" onkeyup="textChange(this);" /></div>';
                            addAge.innerHTML = '<label class="control-label col-md-5">Umur Anak (Tahun)</label><div class="col-md-5"><input id="txtAnak2Age' + i + '" name="txtAnak2Age' + i + '" type= "text" class="form-control" /></div>';
                            addGroup.appendChild(addName);
                            addGroup.appendChild(addAge);
                            document.getElementById('mklmtAnk2').appendChild(addGroup);
                            //document.getElementById('mklmtAnk2').appendChild(addAge);

                            var txt = "txtAnak2Name" + i;
                            console.log(txt);
                            var age = "txtAnak2Age" + i;
                            var isteri = "Isteri2"
                            runAjax(i, txt, age, isteri);
                        };
                    };
                }

                function titleCase(str) {
                    var splitStr = str.toLowerCase().split(' ');
                    for (var i = 0; i < splitStr.length; i++) {
                        // You do not need to check if i is larger than splitStr length, as your for does that for you
                        // Assign it back to the array
                        splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
                    }
                    // Directly return the joined string
                    return splitStr.join(' ');
                }

                function textChange(inp) {
                    var text = inp.value;
                    var upperText = titleCase(text);
                    console.log(text);
                    console.log(upperText);
                    inp.value = upperText;
                }


                $(document).ready(function () {
                    $("#BilAnk1").change(function () {
                        var bilAnk = $("#BilAnk1").val();
                        console.log(bilAnk);
                        document.getElementById('mklmtAnk1').innerHTML = "";
                        if (bilAnk => 0) {
                            for (var i = 0; i < bilAnk; i++) {
                                var addGroup = document.createElement('div');
                                var addName = document.createElement('div');
                                var addAge = document.createElement('div');
                                addGroup.className = 'form-group';
                                addName.className = 'col-sm-6';
                                addAge.className = 'col-sm-5';
                                addName.innerHTML = '<label class="control-label col-md-4">Nama Anak</label><div class="col-md-8"><input id="txtAnak1Name' + i + '" name="txtAnak1Name' + i + '" type= "text" class="form-control" onkeyup="textChange(this);" /></div>';
                                addAge.innerHTML = '<label class="control-label col-md-5">Umur Anak (Tahun)</label><div class="col-md-5"><input id="txtAnak1Age' + i + '" name="txtAnak1Age' + i + '" type= "text" class="form-control" /></div>';
                                addGroup.appendChild(addName);
                                addGroup.appendChild(addAge);
                                document.getElementById('mklmtAnk1').appendChild(addGroup);
                                //document.getElementById('mklmtAnk1').appendChild(addAge);
                            };
                        };
                    });

                    $("#BilAnk2").change(function () {
                        var bilAnk = 0;
                        bilAnk = $("#BilAnk2").val();
                        console.log(bilAnk);
                        document.getElementById('mklmtAnk2').innerHTML = "";
                        if (bilAnk => 0) {
                            for (var i = 0; i < bilAnk; i++) {
                                var addGroup = document.createElement('div');
                                var addName = document.createElement('div');
                                var addAge = document.createElement('div');
                                addGroup.className = 'form-group';
                                addName.className = 'col-sm-6';
                                addAge.className = 'col-sm-5';
                                addName.innerHTML = '<label class="control-label col-md-4">Nama Anak</label><div class="col-md-8"><input id="txtAnak2Name' + i + '" name="txtAnak2Name' + i + '" type= "text" class="form-control" onkeyup="textChange(this);" /></div>';
                                addAge.innerHTML = '<label class="control-label col-md-5">Umur Anak (Tahun)</label><div class="col-md-5"><input id="txtAnak2Age' + i + '" name="txtAnak2Age' + i + '" type= "text" class="form-control" /></div>';
                                addGroup.appendChild(addName);
                                addGroup.appendChild(addAge);
                                document.getElementById('mklmtAnk2').appendChild(addGroup);
                                //document.getElementById('mklmtAnk2').appendChild(addAge);
                            };
                        };
                    });

                    $("#NamaWaris").keyup(function (e) {
                        var nama = $("#NamaWaris").val();
                        var namaNew = titleCase(nama);
                        console.log(nama);
                        console.log(namaNew);
                        $("#NamaWaris").val(namaNew);

                    });
                    $("#NamaIsteri1").keyup(function (e) {
                        var nama = $("#NamaIsteri1").val();
                        var namaNew = titleCase(nama);
                        console.log(nama);
                        console.log(namaNew);
                        $("#NamaIsteri1").val(namaNew);

                    });
                    $("#NamaIsteri2").keyup(function (e) {
                        var nama = $("#NamaIsteri2").val();
                        var namaNew = titleCase(nama);
                        console.log(nama);
                        console.log(namaNew);
                        $("#NamaIsteri2").val(namaNew);

                    });

                });

</script>

