@model IEnumerable<MVC_SYSTEM.MasterModels.tbl_ProduktivitiGetah>


@using MVC_SYSTEM.Class;
@{
    ViewBag.Title = "ProduktivitiGetahDetail";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig GetConfig = new GetConfig();

    
    ChangeTimeZone ChangeTimeZone = new ChangeTimeZone();
    int year = ChangeTimeZone.gettimezone().Year;
    int month = ChangeTimeZone.gettimezone().Month;
    int day = ChangeTimeZone.gettimezone().Day;
    int hour = ChangeTimeZone.gettimezone().Hour;
    int minute = ChangeTimeZone.gettimezone().Minute;
    int second = ChangeTimeZone.gettimezone().Second;
    string uniquefilename = "SenaraiProduktivitiGetah_" + year.ToString() + month.ToString() + day.ToString() + hour.ToString() + minute.ToString() + second.ToString();
}

@if (Model.Count() > 0)
{
    <div id="scrollArea2">
        <logo />
        <table class="table table-hover table-bordered" style="font-size: 11px;" border="0">
            <thead>
                <tr>
                    <th colspan="3" style="text-align:center;vertical-align:middle;">
                        @ViewBag.NamaSyarikat
                        <br />
                        (@GlobalResEstate.lblCompanyNo : @ViewBag.NoSyarikat)
                        <br />
                        Jadual Produktiviti Getah
                    </th>
                </tr>
            </thead>
            @foreach (var tahun in Model.Select(s => new { s.fld_TahunToreh, s.fld_NegaraID, s.fld_SyarikatID }).OrderBy(o => o.fld_TahunToreh).Distinct())
            {
                <tbody>
                    <tr>
                        <th colspan="3" bgcolor="#ffcc80" style="color:black;text-align:center;vertical-align:middle !important;border:1px solid black;" border="1">
                            @GetConfig.GetWebConfigDesc(tahun.fld_TahunToreh.ToString(), "tahunTorehPrdktvt", tahun.fld_NegaraID, tahun.fld_SyarikatID)
                        </th>
                    </tr>
                    <tr>
                        <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">Produktiviti Cuplump Basah</th>
                        <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">Upah Kadaran</th>
                        <th bgcolor="#ffcc80" style="color: black; text-align: center; vertical-align: middle !important; border: 1px solid black;" border="1">Insentif Kuantiti Cuplump</th>

                    </tr>
                    @foreach (var item in Model.Where(x => x.fld_TahunToreh == tahun.fld_TahunToreh))
                    {
                        <tr>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @item.fld_PrdktvtCuplumpLower - @item.fld_PrdktvtCuplumpUpper
                            </td>
                            <td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @item.fld_KadarUpah
                            </td><td align="center" style="vertical-align: middle !important; border: 1px solid black;" border="1">
                                @{var InsentifKuantiti = item.fld_InsentifKuantiti == null ? "-" : item.fld_InsentifKuantiti.ToString();}
                                @InsentifKuantiti
                                @*@item.fld_InsentifKuantiti*@
                            </td>
                        </tr>
                    }
                </tbody>

            }
        </table>
        <newpage />
    </div>

    <div style="text-align:right; margin-top:10px">
        <a class="btn btn-default btn-sm" href="#" id="printpage">
            <span class="glyphicon glyphicon-print"> </span> @GlobalResEstate.btnPrint
        </a>
        <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
            <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadPdf
        </a>
  
        <a class="btn btn-default btn-sm" href="#" onclick="HTMLtoExcel('@uniquefilename')">
            <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span> @GlobalResEstate.btnDownloadExcel
        </a>
    </div>

}
else
{
    <p style="color:red">@GlobalResEstate.msgErrorSearch</p>
}


<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>

<script>
    $(document).ready(function () {
        $("#printpage").click(function () {
           
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
        })

        $("#downloadpdf").click(function () {

            var myHtml = document.getElementById('scrollArea2').innerHTML;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ConvertPDF2", "Report")',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ myHtml: myHtml, filename: "@uniquefilename", reportname: "Produktiviti Getah" }),
                success: function (result) {
                    if (result.success) {
                        var win = window.open(result.link, '_blank');
                        win.focus();
                    } else {
                        $.simplyToast(result.msg, result.status);
                    }
                },
                error: function (error) {
                    $.simplyToast('Sorry to many data', 'danger');
                }
            });
            return false;
        });
           
    });
</script>




