@model IEnumerable<MVC_SYSTEM.Models.vw_LbrPrmtPsprtUpdate>
<div class="modal-body">
    <table class="table table-hover" style="font-size: 11px;" cellspacing="0" border="0" width="100%">
        <thead>
            <tr>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">ID Pekerja</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">No Passport</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Nama Pekerja</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">No Permit/Passport Baru</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Tarikh Tamat</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">No Passport/Permit Lama</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Tarikh Tamat</th>
                <th bgcolor="#ffcc80" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Tindakan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_Nopkj)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_Nokp)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_Nama)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_NewPrmtPsprtNo)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@string.Format("{0:dd/MM/yyyy}", item.fld_NewPrmtPsrtEndDT)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_OldPrmtPsprtNo)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@string.Format("{0:dd/MM/yyyy}", item.fld_OldPrmtPsrtEndDT)</td>
                    <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                        @if (item.fld_Deleted == false)
                        {
                            @*if (item.fld_FomemaResult == false)
                                {
                                    @Html.ActionLink("Cancel", "CancelLabourFomema", new { id = item.fld_ID })
                                    <br />
                                    @Html.ActionLink("Flight Ticket", "TicketRequestRegister", "LabourTicketRequest", new { id = item.fld_LbrRefID }, null)
                                }
                                else
                                {
                                    @Html.ActionLink("Cancel", "CancelLabourFomema", new { id = item.fld_ID })
                                    <br />
                                    @Html.ActionLink("Update Permit", "TKAFullInformation", "LabourDetail", new { id = item.fld_LbrRefID }, null)
                                }*@
                        }
                        else
                        {
                        }
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="8" align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">Tiada Data</td>
                </tr>
            }
        </tbody>
    </table>
</div>





