@using MVC_SYSTEM.Class;

@{
    ViewBag.Title = "LevelsInfoSubPkt";
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetStatus GetStatus = new GetStatus();

    var grid = new WebGrid(
        canPage: true,
        rowsPerPage: Model.PageSize,
        canSort: false,
        ajaxUpdateContainerId: "grid");

    grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
}

<div class="text-center">@grid.TotalRowCount @Html.Label(GlobalResEstate.lblTotalRecord)</div>
<div>
    @{
        @grid.GetHtml(htmlAttributes: new { id = "grid" }, // id for ajaxUpdateContainerId parameter
                                fillEmptyRows: false,
                                tableStyle: "table table-bordered table-striped table-list table-hover",
                                headerStyle: "header_table",
                                alternatingRowStyle: "Grid-alt",
                                selectedRowStyle: "Grid-selected",
                                rowStyle: "Grid-rowstyle",
                                footerStyle: "table-pager",
                                mode: WebGridPagerModes.All,
                                columns: grid.Columns(
                                    grid.Column(GlobalResEstate.hdrNo, canSort: false, format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, style: "count"),
                                    grid.Column("fld_Pkt", "Kod Peringkat", style: "nopkj"),
                                    grid.Column("fld_NamaPkt", "Nama Peringkat", style: "namapkj"),
                                    grid.Column("fld_LsPkt", "Luas", style: "nokp"),
                                    grid.Column(GlobalResEstate.hdrAction, canSort: false, style: "tindakan",
                                        format: @<text>
                                                @if (item.fld_Deleted == true)
                                                         {
                                                    @Html.Raw("<a data-modal='' href='" + @Url.Action("LevelsSubPktDelete", "BasicInfo") + "/?id=" + item.fld_Pkt + "&status=false' class='btn btn-warning' title='Aktifkan' onclick='return DisplayProgressMessage2(this);'><i class='fa fa-unlock fa-lg'></i></a>")
                                                         }
                                                         else
                                                         {
                                                    @Html.Raw("<a data-modal='' href='" + @Url.Action("LevelsSubPktUpdate", "BasicInfo") + "/?id=" + item.fld_Pkt + "' class='btn btn-success' title='Update Worker' onclick='return DisplayProgressMessage(this);'><i class='fa fa-edit fa-lg'></i></a>")
                                                    @Html.Raw("<a data-modal='' href='" + @Url.Action("LevelsSubPktDelete", "BasicInfo") + "/?id=" + item.fld_Pkt + "&status=true' class='btn btn-warning' title='Nyah Aktifkan' onclick='return DisplayProgressMessage2(this);'><i class='fa fa-trash fa-lg'></i></a>")
                                                         }
                                        </text>)
                      ))
    }
</div>
