@using System.Collections.Generic
@model IEnumerable<MVC_SYSTEM.Models.tbl_Pkjmast>

@{
    /**/
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.DateScriptAdv = 1;
    GetTriager GetTriager = new GetTriager();
    GetConfig GetConfig = new GetConfig();
    string dateformat = GetConfig.GetData("dateformat"); 
    GetIdentity GetIdentity = new GetIdentity();
    GetNSWL GetNSWL = new GetNSWL();

    string WilayahName = "";
    string LadangName = "";


    bool FlagBr = false;
    long YearEndPassport, YearEndPermit;
    int i = 1;

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "searchResultWorkerInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}


<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div id="divLoading" style="display:none;">
    <div class="progressTest">
        <label>
            @GlobalResEstate.msgWait
        </label>
    </div>
</div>


<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        
        @using (Ajax.BeginForm("_WorkerPrmtPsprt", "BasicInfo", null, options, new { @id = "WorkerPrmtPsprt" }))

        {
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="col-sm-3" id="divlist">
                    <label>Tarikh Mula</label>
                    <div class='input-group date' id='datetimepicker2'>
                        @Html.TextBox("StartDate", null, "{0:dd/MM/yyyy}", htmlAttributes: new { @class = "form-control", onkeydown = "return false", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-sm-3" id="divlist">
                    <label>Tarikh Hingga</label>
                    <div class='input-group date' id='datetimepicker3'>
                        @Html.TextBox("EndDate", null, "{0:dd/MM/yyyy}", htmlAttributes: new { @class = "form-control", onkeydown = "return false", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>


                <div class="col-sm-2">
                    <label>Passport/ID/Nama Pekerja</label>
                    @Html.TextBox("FreeText", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="col-sm-2" style="padding-top:24px;">
                    <input class="btn btn-primary" type="submit" name="Find" id="btnSubmit" value="Lihat" />
                </div>

            </div>
        }
    </div>


    <div class="well" style="margin-top:7px;">
        <div class="panel panel-primary">
            <div class="panel-heading">Permit Passport Pekerja</div>
            <div class="panel-body">
                <div id="searchResultWorkerInfo">
                    @Html.Action("_WorkerPrmtPsprt")
                </div>
            </div>
        </div>
    </div>

</section>
<style>

    .well {
        overflow-x: unset !important;
    }

    #summary {
        font-family: Arial;
        font-size: 11px;
        border: 1px solid black;
    }

        #summary td, #summary th {
            border: 1px solid black;
            padding: 8px;
        }

        #summary th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
        }

    #page td {
        padding: 2px;
        margin: 2px;
    }

    table {
        page-break-inside: auto
    }

    thead, tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }
</style>

<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>

<script>
    var dt = new Date();
    document.getElementById("date").innerHTML = dt.toLocaleDateString();
</script>
<script>
    var dt = new Date();
    document.getElementById("time").innerHTML = dt.toLocaleTimeString();
</script>

<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
<script>
       $('#datetimepicker2').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
       $('#datetimepicker3').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });

</script>       @*modified by wani 16.3.2020 (6)*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

