@{
    decimal GetKesukaranMembaja = 0;
    decimal GetKesukaranMenuai = 0;
    decimal GetKesukaranMemunggah = 0;//added by faeza 18.08.2021
    if (ViewBag.GetKesukaranMembaja != null)
    {
        GetKesukaranMembaja = decimal.Parse(ViewBag.GetKesukaranMembaja);
    }

    if (ViewBag.GetKesukaranMenuai != null)
    {
        GetKesukaranMenuai = decimal.Parse(ViewBag.GetKesukaranMenuai);
    }
    //added by faeza 18.08.2021
    if (ViewBag.GetKesukaranMemunggah != null)
    {
        GetKesukaranMemunggah = decimal.Parse(ViewBag.GetKesukaranMemunggah);
    }
}
<div class="form-horizontal">
    <div id="workinfoinfo" class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">@GlobalResEstate.menuWorkInfo <label id="name3"></label></div>
            <input type="hidden" id="Lejar" name="Lejar" value="602" />
            <div class="panel-body">
                <div class="form-group">
                    @*<div class="col-sm-3">
                            <label id="catsel">@GlobalResEstate.hdrLejar</label>
                            @Html.DropDownList("Lejar", null, htmlAttributes: new { @class = "form-control" })
                        </div>*@
                    <div class="col-sm-3">
                        <label id="catsel">@GlobalResEstate.lblLevelType</label>
                        @Html.DropDownList("JnisPkt", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label id="catsel">Pinjam Pekerja</label>
                        @Html.DropDownList("TrnsfrLvl", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4">
                        <label id="catsel">@GlobalResEstate.lblLevelSelection</label>
                        @Html.DropDownList("PilihanPkt", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label id="catsel">@GlobalResEstate.lblAktvtType</label>
                        @Html.DropDownList("JnisAktvt", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <label id="catsel">@GlobalResEstate.hdrActvtCode</label>
                        @Html.DropDownList("PilihanAktvt", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-1" id="descactvtydiv" @*style="padding-top:33px;width:0% !important;"*@>
                        <a href="#" class="descactvtydivclass" id="descactvty" name="descactvty" title="@GlobalResEstate.msgInfo"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </div>
                    <div class="col-sm-5">
                        <p><font color="red">**Tambahan kadar harga untuk kawasan sukar dikira secara automatik.</font> <input type="hidden" name="statusvalidkwsnskr" id="statusvalidkwsnskr" value="3" /></p>
                        <div id="divkesukaran"></div>
                        @*<p><label id="kesukaranlbl"></label> <b id="kesukaranpriceshow"></b>
        <input type="hidden" name="kesukarankod" id="kesukarankod" value="" />
        <input type="hidden" name="kesukaranprice" id="kesukaranprice" value="0" /></p>
        <input type="hidden" name="CdKesukaranLain" id="CdKesukaranLain" value="OR" />
        <input type="hidden" name="hargaKesukaranLain" id="hargaKesukaranLain" value="0" /> *@
                        <input type="hidden" id="MngrID" name="MngrID" value="0" />
                        <input type="hidden" id="DTApp" name="DTApp" value="" /> </p>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">@GlobalResEstate.lblWorkRecordEntry <label id="name4"></label></div>
                    <div class="panel-body">
                        <div id="workdata" style="display:none;padding-bottom:45px;">
                            <div class="form-group" id="allcheckbookdiv">
                                <div class="col-sm-12" id="allcheckbook"><label style="float:left;" id="sapgl"> </label><label style="float:right;">@GlobalResEstate.chkAllSame <input type="checkbox" name="allsame" id="allsame" value="1" /></label></div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" id="ListofDetail3">
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-bottom:10px;margin-top:-22px" id="SaveWrkbtndiv">
                                <button class="btn btn-success" style="float:right;margin-right:-15px;" name="SaveWrk" id="SaveWrk" type="button">@GlobalResEstate.btnSave</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">@GlobalResEstate.lblWorkRecordInfo <label id="name5"></label></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-sm-12" id="ListofDetail4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='myModal2' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent2'>
                @Html.Action("_OtherDifficulty", "CheckRollFel")
            </div>
        </div>
    </div>
</div>